/* header{
    width: 100%;
    height: 300px;
    background-color: grey;
} */

/* body{
    padding-top: 100px;
} */

.author_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 3px 7px black;
    padding: 1rem;
    border-radius: 20px;
    margin: 3rem 0;
}

.author_details .author_name{
    margin-top: 10px;
}

.author_details .author_img{
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 100%;
    margin: 0 auto;
}

.author_details .author_about{
    margin-top: 20px;
    width: 80%;
    font-weight: 600;
    font-size: 20px;
}


/* Author Posts */
.authors_post{
    margin: 100px 0;
}

.authors_post .posts{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
    /* cursor: pointer; */
}

.authors_post .posts img{
    width: 90px;
    height: 60px;
    margin-right: 20px;
}

.authors_post .posts span{
    display: block;
    color: black;
}
