{% extends 'blog/base.html' %}
{% load static %}
{% block page_title %}  {{post.title}} {% endblock page_title %}
{% block css_link %} <link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">   {% endblock css_link %}


{% block content %}

    <!-- <div class="second-nav container-fluid">
        <div class="link">
            <a href="{% url 'home-page' %}"> Home</a> / <a href="{% url 'posts-page' %}"> Posts</a> / {{ post.title }}
        </div>
    </div> -->

    {% if comment_form.errors %}
        <div class="error_alert">
            <h1>Saving the comment failed</h1>
            <p> Please check the comment form below the post and fix your errors </p>
            <a href="#comment-form-sec" class="btn btn-danger px-4 fw-bold"> Fix </a>
        </div>
    {% endif %}

    <div class="container my-5">

        <!-- Blog -->
        
        <div class="blog-area">
            <div class="link">
                <small> <a href="{% url 'home-page' %}" class="text-decoration-none"> Home</a> &RightTriangle; <a href="{% url 'posts-page' %}" class="text-decoration-none"> Posts</a> &RightTriangle; {{ post.title }} </small>
            </div>
            <div class="author_info row">

                <div class="col info">
                    <img class="author-img" src="{{post.author.image.url}}" alt="" srcset="">
                    <div class="">
                        <span class="author-name">{{post.author}} </span>
                        <span> <a href="mailto:{{author.email_address}}"><i class="bi bi-envelope-fill"></i></a> </span>
                        <div class="blog-prop"> 
                            <span>Last updated on {{post.date}}</span>
                            <!-- <span>10 min read</span> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Blog Title -->
            <h3 class="blog-title mt-5"> {{post.title}} </h3>

            <!-- Blog tags -->
            <div class="blog-tags">
                {% for tag in post_tags %}
                    <a href="{% url 'post-on-tag' tag %}">#{{tag}}</a>
                {% endfor %}
            </div>

            <!-- Blog Image -->
            <div>
                <img class="blog-img" src="{{post.image.url}}" alt="Picture related to: {{post.title}}" srcset="">
            </div>

            <!-- Blog Content -->
            <div class="blog-content mb-5">
                {% autoescape off %}
                    <p>{{ post.content }}</p>
                {% endautoescape %}
            </div>


            <!-- Comments -->

            {% if comments %}

                <div id="comments">
                    <ul>
                        {% for comment in comments %}
                            <li> 
                                <h2> {{ comment.user_name }}  </h2>
                                <p> {{ comment.text }} </p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            {% endif %}


            <!-- Comments Form -->
            <div id="comment-form-sec">
                <h4> Leave a Comment </h4>
                <form id="comment-form" action="{% url 'post-detail-page' post.slug %}" method="post">
                    {% csrf_token %}
                    {% for form_field in comment_form %}
                        <div class="my-form-control {% if form_field.errors %}error{% endif %} ">
                            {{ form_field.label_tag }}
                            {{ form_field }}
                            {{ form_field.errors }}
                        </div>
                    {% endfor %}
                    <button class="btn btn-dark"> Save Comment </button>
                </form>
            </div>

            <!-- More from author -->
            <h6>More of My posts: </h6>

            {% for author_post in author_posts %}

                {% if author_post.slug == post.slug %}
                    
                {% else %}

                <div class="posts_frm_author">
                    <div>
                        <a href="{% url 'post-detail-page' author_post.slug %}">
                            <img src="{{author_post.image.url}}" alt="">
                        </a>
                    </div>

                    <div>
                        <a href="{% url 'post-detail-page' author_post.slug %}" style="text-decoration: none;"> <span class="fw-bold"> {{author_post.title}} </span> </a>
                        <span>{{author_post.date}}</span>
                    </div>
                </div>

                {% endif %}

            {% endfor %}
        
        </div>

        <!-- Side Bar -->
        {% comment %} <div class="col-12 col-lg-4 d-none d-lg-block side-bar">
            <div class="author-info">
                <div class="text-center">
                    <img class="author-img" src="{{author.image.url}}" alt="">
                    <a class="author-name" href="{% url 'author-details' post.author.pk %}" target="_blank"> {{author}}  </a>
                    <span class="author-prof"> {{author.work}} </span>
                    <span class="author-name"> <a href="mailto:{{author.email_address}}"><i class="bi bi-envelope-fill"></i></a> </span>
                </div>

                <p class="author-about"> {{author.about}} </p>
            </div>

            <hr class="my-5"> {% endcomment %}

        

                        <!-- <h2 class="fw-bold mt-5">More from Erinle Tomisin</h2> -->

        </div>
    </div>

{% endblock content %}


